/MSI/StreamedMP/Release
/Applications/.vs/StreamedMPApplications/v14/.suo
/Applications/BuildAll/bin/Release/BuildAll.dll
/Applications/BuildAll/bin/Release/BuildAll.pdb
/Applications/BuildAll/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/BuildAll/obj/Release/BuildAll.csproj.FileListAbsolute.txt
/Applications/BuildAll/obj/Release/BuildAll.dll
/Applications/BuildAll/obj/Release/BuildAll.pdb
/Applications/BuildAll/obj/Release/DesignTimeResolveAssemblyReferences.cache
/Applications/BuildAll/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/SMPCheckSum/bin/Release/SMPCheckSum.dll
/Applications/SMPCheckSum/bin/Release/SMPCheckSum.pdb
/Applications/SMPCheckSum/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/SMPCheckSum/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/SMPCheckSum/obj/Release/SMPCheckSum.csproj.FileListAbsolute.txt
/Applications/SMPCheckSum/obj/Release/SMPCheckSum.dll
/Applications/SMPCheckSum/obj/Release/SMPCheckSum.pdb
/Applications/SMPEditor/bin/Debug/SMPEditor.vshost.exe
/Applications/SMPEditor/bin/Debug/SMPEditor.vshost.exe.manifest
/Applications/SMPEditor/bin/Release/Common.GUIPlugins.dll
/Applications/SMPEditor/bin/Release/Common.Utils.dll
/Applications/SMPEditor/bin/Release/Core.dll
/Applications/SMPEditor/bin/Release/Cornerstone.MP.dll
/Applications/SMPEditor/bin/Release/Cornerstone.dll
/Applications/SMPEditor/bin/Release/Databases.dll
/Applications/SMPEditor/bin/Release/Dialogs.dll
/Applications/SMPEditor/bin/Release/ICSharpCode.SharpZipLib.dll
/Applications/SMPEditor/bin/Release/MP-TVSeries.dll
/Applications/SMPEditor/bin/Release/MediaPortal.Support.dll
/Applications/SMPEditor/bin/Release/Microsoft.DirectX.Direct3D.dll
/Applications/SMPEditor/bin/Release/Microsoft.DirectX.Direct3D.xml
/Applications/SMPEditor/bin/Release/Microsoft.DirectX.Direct3DX.dll
/Applications/SMPEditor/bin/Release/Microsoft.DirectX.Direct3DX.xml
/Applications/SMPEditor/bin/Release/Microsoft.DirectX.dll
/Applications/SMPEditor/bin/Release/Microsoft.DirectX.xml
/Applications/SMPEditor/bin/Release/MovingPictures.dll
/Applications/SMPEditor/bin/Release/OnlineVideos.MediaPortal1.dll
/Applications/SMPEditor/bin/Release/OnlineVideos.dll
/Applications/SMPEditor/bin/Release/SMPCheckSum.dll
/Applications/SMPEditor/bin/Release/SMPCheckSum.pdb
/Applications/SMPEditor/bin/Release/SMPEditor.pdb
/Applications/SMPEditor/bin/Release/StreamedMPEditor.dll
/Applications/SMPEditor/bin/Release/StreamedMPEditor.pdb
/Applications/SMPEditor/bin/Release/Utils.dll
/Applications/SMPEditor/obj/Release/DesignTimeResolveAssemblyReferences.cache
/Applications/SMPEditor/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/SMPEditor/obj/Release/SMPEditor.Properties.Resources.resources
/Applications/SMPEditor/obj/Release/SMPEditor.Resource1.resources
/Applications/SMPEditor/obj/Release/SMPEditor.csproj.FileListAbsolute.txt
/Applications/SMPEditor/obj/Release/SMPEditor.csproj.GenerateResource.Cache
/Applications/SMPEditor/obj/Release/SMPEditor.csprojResolveAssemblyReference.cache
/Applications/SMPEditor/obj/Release/SMPEditor.exe
/Applications/SMPEditor/obj/Release/SMPEditor.pdb
/Applications/SMPEditor/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/Applications/SMPEditor/obj/Release/TempPE/Resource1.Designer.cs.dll
/Applications/SMPEditor/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/SMPEditor/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/SMPEditor/obj/x86/Release/SMPEditor.Form1.resources
/Applications/SMPEditor/obj/x86/Release/SMPEditor.Properties.Resources.resources
/Applications/SMPEditor/obj/x86/Release/SMPEditor.Resource1.resources
/Applications/SMPEditor/obj/x86/Release/SMPEditor.csproj.FileListAbsolute.txt
/Applications/SMPEditor/obj/x86/Release/SMPEditor.csproj.GenerateResource.Cache
/Applications/SMPEditor/obj/x86/Release/SMPEditor.csprojResolveAssemblyReference.cache
/Applications/SMPEditor/obj/x86/Release/SMPEditor.exe
/Applications/SMPEditor/obj/x86/Release/SMPEditor.pdb
/Applications/SMPMediaPortalRestart/bin/Release/SMPMediaPortalRestart.pdb
/Applications/SMPMediaPortalRestart/bin/Release/SMPMediaPortalRestart.vshost.exe
/Applications/SMPMediaPortalRestart/bin/Release/SMPMediaPortalRestart.vshost.exe.manifest
/Applications/SMPMediaPortalRestart/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/SMPMediaPortalRestart/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/SMPMediaPortalRestart/obj/Release/SMPMediaPortalRestart.Properties.Resources.resources
/Applications/SMPMediaPortalRestart/obj/Release/SMPMediaPortalRestart.SMPMediaPortalRestart.resources
/Applications/SMPMediaPortalRestart/obj/Release/SMPMediaPortalRestart.csproj.FileListAbsolute.txt
/Applications/SMPMediaPortalRestart/obj/Release/SMPMediaPortalRestart.csproj.GenerateResource.Cache
/Applications/SMPMediaPortalRestart/obj/Release/SMPMediaPortalRestart.exe
/Applications/SMPMediaPortalRestart/obj/Release/SMPMediaPortalRestart.pdb
/Applications/SMPMediaPortalRestart/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/Applications/SMPpatch/EmbeddedPatches/Cornerstone.MP.dll
/Applications/SMPpatch/EmbeddedPatches/Cornerstone.dll
/Applications/SMPpatch/EmbeddedPatches/FanartHandler.dll
/Applications/SMPpatch/EmbeddedPatches/GUIGlobalSearch.dll
/Applications/SMPpatch/EmbeddedPatches/InfoService.dll
/Applications/SMPpatch/EmbeddedPatches/LatestMediaHandler.dll
/Applications/SMPpatch/EmbeddedPatches/LyricsEngine.dll
/Applications/SMPpatch/EmbeddedPatches/MP-TVSeries.dll
/Applications/SMPpatch/EmbeddedPatches/Micropolis.MPCore.dll
/Applications/SMPpatch/EmbeddedPatches/MovingPictures.dll
/Applications/SMPpatch/EmbeddedPatches/MyLyrics.dll
/Applications/SMPpatch/EmbeddedPatches/SMPCheckSum.dll
/Applications/SMPpatch/EmbeddedPatches/SMPEditor.exe
/Applications/SMPpatch/EmbeddedPatches/SMPMediaPortalRestart.exe
/Applications/SMPpatch/EmbeddedPatches/StreamedMPConfig.dll
/Applications/SMPpatch/EmbeddedPatches/StreamedMPEditor.dll
/Applications/SMPpatch/EmbeddedPatches/TraktPlugin.dll
/Applications/SMPpatch/EmbeddedPatches/TranslateProvider.dll
/Applications/SMPpatch/EmbeddedPatches/WorldWeather.Core.dll
/Applications/SMPpatch/EmbeddedPatches/WorldWeather.dll
/Applications/SMPpatch/bin/Release/ICSharpCode.SharpZipLib.dll
/Applications/SMPpatch/bin/Release/ILMerge.exe
/Applications/SMPpatch/bin/Release/SMPCheckSum.dll
/Applications/SMPpatch/bin/Release/SMPCheckSum.pdb
/Applications/SMPpatch/bin/Release/SMPpatch.exe
/Applications/SMPpatch/bin/Release/SMPpatch.pdb
/Applications/SMPpatch/bin/Release/SMPpatch.vshost.exe
/Applications/SMPpatch/bin/Release/SMPpatch.vshost.exe.manifest
/Applications/SMPpatch/bin/Release/SMPpatch_UNMERGED.exe
/Applications/SMPpatch/bin/Release/merge.bat
/Applications/SMPpatch/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/SMPpatch/obj/Release/SMPpatch.Properties.Resources.resources
/Applications/SMPpatch/obj/Release/SMPpatch.SMPpatch.resources
/Applications/SMPpatch/obj/Release/SMPpatch.SplashScreen.resources
/Applications/SMPpatch/obj/Release/SMPpatch.csproj.FileListAbsolute.txt
/Applications/SMPpatch/obj/Release/SMPpatch.csproj.GenerateResource.Cache
/Applications/SMPpatch/obj/Release/SMPpatch.csprojResolveAssemblyReference.cache
/Applications/SMPpatch/obj/Release/SMPpatch.exe
/Applications/SMPpatch/obj/Release/SMPpatch.pdb
/Applications/SMPpatch/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/Applications/SMPpatch/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/SMPpatch/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/SMPpatch/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/Applications/StreamedMPConfig/bin/Release/Common.Utils.dll
/Applications/StreamedMPConfig/bin/Release/Core.dll
/Applications/StreamedMPConfig/bin/Release/Cornerstone.MP.dll
/Applications/StreamedMPConfig/bin/Release/Cornerstone.dll
/Applications/StreamedMPConfig/bin/Release/Databases.dll
/Applications/StreamedMPConfig/bin/Release/Dialogs.dll
/Applications/StreamedMPConfig/bin/Release/ICSharpCode.SharpZipLib.dll
/Applications/StreamedMPConfig/bin/Release/MP-TVSeries.dll
/Applications/StreamedMPConfig/bin/Release/MediaPortal.Support.dll
/Applications/StreamedMPConfig/bin/Release/Microsoft.DirectX.Direct3D.dll
/Applications/StreamedMPConfig/bin/Release/Microsoft.DirectX.Direct3D.xml
/Applications/StreamedMPConfig/bin/Release/Microsoft.DirectX.Direct3DX.dll
/Applications/StreamedMPConfig/bin/Release/Microsoft.DirectX.Direct3DX.xml
/Applications/StreamedMPConfig/bin/Release/Microsoft.DirectX.dll
/Applications/StreamedMPConfig/bin/Release/Microsoft.DirectX.xml
/Applications/StreamedMPConfig/bin/Release/MovingPictures.dll
/Applications/StreamedMPConfig/bin/Release/SMPCheckSum.dll
/Applications/StreamedMPConfig/bin/Release/SMPCheckSum.pdb
/Applications/StreamedMPConfig/bin/Release/StreamedMPConfig.dll
/Applications/StreamedMPConfig/bin/Release/StreamedMPConfig.pdb
/Applications/StreamedMPConfig/bin/Release/Utils.dll
/Applications/StreamedMPConfig/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/StreamedMPConfig/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/StreamedMPConfig/obj/Release/StreamedMPConfig.ConfigurationForm.resources
/Applications/StreamedMPConfig/obj/Release/StreamedMPConfig.Properties.Resources.resources
/Applications/StreamedMPConfig/obj/Release/StreamedMPConfig.csproj.FileListAbsolute.txt
/Applications/StreamedMPConfig/obj/Release/StreamedMPConfig.csproj.GenerateResource.Cache
/Applications/StreamedMPConfig/obj/Release/StreamedMPConfig.csprojResolveAssemblyReference.cache
/Applications/StreamedMPConfig/obj/Release/StreamedMPConfig.dll
/Applications/StreamedMPConfig/obj/Release/StreamedMPConfig.pdb
/Applications/StreamedMPConfig/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/Applications/StreamedMPEditor/bin/Release/Common.GUIPlugins.dll
/Applications/StreamedMPEditor/bin/Release/Common.Utils.dll
/Applications/StreamedMPEditor/bin/Release/Core.dll
/Applications/StreamedMPEditor/bin/Release/Cornerstone.MP.dll
/Applications/StreamedMPEditor/bin/Release/Cornerstone.dll
/Applications/StreamedMPEditor/bin/Release/Databases.dll
/Applications/StreamedMPEditor/bin/Release/Dialogs.dll
/Applications/StreamedMPEditor/bin/Release/GUIMusic.dll
/Applications/StreamedMPEditor/bin/Release/ICSharpCode.SharpZipLib.dll
/Applications/StreamedMPEditor/bin/Release/MP-TVSeries.dll
/Applications/StreamedMPEditor/bin/Release/MediaPortal.Support.dll
/Applications/StreamedMPEditor/bin/Release/Microsoft.DirectX.Direct3D.dll
/Applications/StreamedMPEditor/bin/Release/Microsoft.DirectX.Direct3D.xml
/Applications/StreamedMPEditor/bin/Release/Microsoft.DirectX.Direct3DX.dll
/Applications/StreamedMPEditor/bin/Release/Microsoft.DirectX.Direct3DX.xml
/Applications/StreamedMPEditor/bin/Release/Microsoft.DirectX.dll
/Applications/StreamedMPEditor/bin/Release/Microsoft.DirectX.xml
/Applications/StreamedMPEditor/bin/Release/MovingPictures.dll
/Applications/StreamedMPEditor/bin/Release/OnlineVideos.MediaPortal1.dll
/Applications/StreamedMPEditor/bin/Release/OnlineVideos.dll
/Applications/StreamedMPEditor/bin/Release/SMPCheckSum.dll
/Applications/StreamedMPEditor/bin/Release/SMPCheckSum.pdb
/Applications/StreamedMPEditor/bin/Release/StreamedMPEditor.dll
/Applications/StreamedMPEditor/bin/Release/StreamedMPEditor.dll.config
/Applications/StreamedMPEditor/bin/Release/StreamedMPEditor.pdb
/Applications/StreamedMPEditor/bin/Release/System.Data.DataSetExtensions.dll
/Applications/StreamedMPEditor/bin/Release/System.Data.DataSetExtensions.xml
/Applications/StreamedMPEditor/bin/Release/System.Data.dll
/Applications/StreamedMPEditor/bin/Release/System.Deployment.dll
/Applications/StreamedMPEditor/bin/Release/System.Drawing.dll
/Applications/StreamedMPEditor/bin/Release/System.Windows.Forms.dll
/Applications/StreamedMPEditor/bin/Release/System.XML.dll
/Applications/StreamedMPEditor/bin/Release/System.Xml.Linq.dll
/Applications/StreamedMPEditor/bin/Release/System.Xml.Linq.xml
/Applications/StreamedMPEditor/bin/Release/System.dll
/Applications/StreamedMPEditor/bin/Release/Utils.dll
/Applications/StreamedMPEditor/obj/Release/DesignTimeResolveAssemblyReferences.cache
/Applications/StreamedMPEditor/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/StreamedMPEditor/obj/Release/MB.Controls.ColorSlider.resources
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.MovPicsSummaryOptions.resources
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.Properties.Resources.resources
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.SelectHardDrives.resources
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.SubItemProperties.resources
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.TVSereisFormatOptions.resources
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.csproj.FileListAbsolute.txt
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.csproj.GenerateResource.Cache
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.csprojResolveAssemblyReference.cache
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.dll
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.formStreamedMpEditor.resources
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.formSubMenuDesigner.resources
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.getButtonTexture.resources
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.mostRecentDisplaySelection.resources
/Applications/StreamedMPEditor/obj/Release/StreamedMPEditor.showButtonTheme.resources
/Applications/StreamedMPEditor/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/Applications/StreamedMPEditor/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/StreamedMPEditor/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Applications/StreamedMPEditor/obj/x86/Release/MB.Controls.ColorSlider.resources
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.MovPicsSummaryOptions.resources
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.Properties.Resources.resources
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.SelectHardDrives.resources
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.SubItemProperties.resources
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.TVSereisFormatOptions.resources
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.csproj.FileListAbsolute.txt
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.csproj.GenerateResource.Cache
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.csprojResolveAssemblyReference.cache
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.dll
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.formStreamedMpEditor.resources
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.formSubMenuDesigner.resources
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.getButtonTexture.resources
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.mostRecentDisplaySelection.resources
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.pdb
/Applications/StreamedMPEditor/obj/x86/Release/StreamedMPEditor.showButtonTheme.resources
/MSI/StreamedMP/Script Files/Setup.dbg
/MSI/StreamedMP/Script Files/Setup.inx
/MSI/StreamedMP/Script Files/Setup.isr
/MSI/StreamedMP/Script Files/Setup.map
/MSI/StreamedMP/Script Files/Setup.obs
/MSI/StreamedMP/String1033.txt
/MSI/StreamedMP/_ISUser_0x0409.RES
/MSI/StreamedMP/_ISUser_0x0409.rc
/MSI/StreamedMP/_isuser_0x0409.dll
