<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<window>
  <id>4</id>
  <defaultcontrol>9993</defaultcontrol>
  <allowoverlay>no</allowoverlay>
  <define>#header.label:5</define>
  <define>#header.hover:hover_settings.png</define>
  <define>#selecteditem:#highlightedbutton</define>
  <controls>
    
    <import>common.settings.xml</import>
    <import>common.time.xml</import>
    
  </controls>
</window>