<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<window>
  <id>4</id>
  <defaultcontrol>12</defaultcontrol>
  <allowoverlay>no</allowoverlay>
	<rememberLastFocusedControl>yes</rememberLastFocusedControl>
  <define>#header.label:5</define>
  <define>#header.hover:hover_settings.png</define>
  <define>#selecteditem:#highlightedbutton</define>
  <controls>
    <control>
      <type>image</type>
      <description>BG</description>
      <id>0</id>
      <width>1280</width>
      <height>720</height>
    </control>
    <control>
      <type>image</type>
      <id>0</id>
      <posX>0</posX>
      <posY>0</posY>
      <width>1280</width>
      <height>720</height>
      <texture>#header.hover</texture>
    </control>
    <control>
      <type>image</type>
      <id>0</id>
      <posX>178</posX>
      <posY>0</posY>
      <width>256</width>
      <height>720</height>
      <texture>homebladesub.png</texture>
      <animation effect="slide" time="200" start="-434,0">windowopen</animation>
    </control>
    <control>
      <type>image</type>
      <id>0</id>
      <posX>-620</posX>
      <posY>0</posY>
      <width>846</width>
      <height>720</height>
      <texture>homebladeleft.png</texture>
      <animation effect="slide" time="100" start="-846,0">windowopen</animation>
    </control>
    <control>
      <type>image</type>
      <id>0</id>
      <posX>260</posX>
      <posY>80</posY>
      <width>161</width>
      <height>31</height>
      <texture>settingslogo.png</texture>
      <animation effect="fade" time="200" delay="200">windowopen</animation>
    </control>
    <control>
      <description>Update Indicator</description>
      <type>image</type>
      <id>0</id>
      <posX>378</posX>
      <posY>126</posY>
      <width>32</width>
      <height>32</height>
      <texture>isupdate.png</texture>
      <visible>string.equals(#StreamedMP.ShowSettingsUpdateInd,true	)</visible>
      <animation effect="fade" time="200" delay="200">windowopen</animation>
    </control>
    <control>
      <type>group</type>
      <description>group element</description>
      <animation effect="fade" time="200" delay="200">windowopen</animation>
      <posX>216</posX>
      <posY>121</posY>
      <width>211</width>
      <height>379</height>
      <layout>StackLayout(0, Vertical, true)</layout>
      <control Style="settingsbutton">
        <description>StreamedMP Settings</description>
        <type>button</type>
        <id>12</id>
        <onup>20</onup>
        <label>#StreamedMP.SkinMenu</label>
        <hyperlink>196200</hyperlink>
      </control>
			<control Style="settingsbutton">
        <description>General setttings</description>
        <type>button</type>
        <id>3</id>
        <label>128</label>
        <hyperlink>1016</hyperlink>
      </control>
      <control Style="settingsbutton">
        <description>GUI settings</description>
        <type>button</type>
        <id>4</id>
        <label>101021</label>
        <hyperlink>1021</hyperlink>
      </control>
			<control Style="settingsbutton">
        <description>TV</description>
        <type>button</type>
        <id>10</id>
        <label>605</label>
        <hyperlink>700</hyperlink>
      </control>
			<control Style="settingsbutton">
        <description>My Videos</description>
        <type>button</type>
        <id>8</id>
        <label>3</label>
        <hyperlink>703</hyperlink>
      </control>
			<control Style="settingsbutton">
        <description>My Music</description>
        <type>button</type>
        <id>6</id>
        <label>2</label>
        <hyperlink>14</hyperlink>
      </control>
      <control Style="settingsbutton">
        <description>My Pictures</description>
        <type>button</type>
        <id>7</id>
        <label>1</label>
        <hyperlink>12</hyperlink>
      </control>
      <control Style="settingsbutton">
        <description>My DVD</description>
        <type>button</type>
        <id>9</id>
        <label>1027</label>
        <hyperlink>704</hyperlink>
      </control>
      <control Style="settingsbutton">
        <description>BluRay</description>
        <type>button</type>
        <id>17</id>
        <label>300217</label>
        <hyperlink>1024</hyperlink>
      </control>
			<control Style="settingsbutton">
        <description>MiniDisplay</description>
        <type>button</type>
        <id>11</id>
        <label>9100</label>
        <hyperlink>9000</hyperlink>
      </control>
      <control Style="settingsbutton">
        <description>Intelligent Frame Correction</description>
        <type>button</type>
        <id>13</id>
        <label> I.F.C. </label>
        <hyperlink>240782</hyperlink>
        <visible>plugin.isenabled(Intelligent Frame Correction)</visible>
      </control>
      <control Style="settingsbutton">
        <description>Trakt Settings</description>
        <type>button</type>
        <id>14</id>
        <label>Trakt</label>
        <hyperlink>87271</hyperlink>
        <visible>plugin.isenabled(Trakt)</visible>
      </control>
			<control Style="settingscheckbutton">
        <description>Settings locked</description>
        <type>checkbutton</type>
        <id>20</id>
        <label>#StreamedMP.Locked</label>
				<onup>14</onup>
        <ondown>12</ondown>
      </control>
    </control>
    <import>common.time.xml</import>
  </controls>
</window>
<!--Checksum:c6928ebe8d087fe4227c39fc946c34d5-->