<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<window>
  <id>4</id>
  <defaultcontrol>12</defaultcontrol>
  <allowoverlay>no</allowoverlay>
  <define>#header.label:5</define>
  <define>#header.hover:hover_settings.png</define>
  <define>#selecteditem:#highlightedbutton</define>
  <controls>	
    <control>
      <type>image</type>
      <description>BG</description>
      <id>0</id>
      <width>1280</width>
      <height>720</height>
    </control>
    <control>
      <type>image</type>
      <id>0</id>
      <posX>0</posX>
      <posY>0</posY>
      <width>1280</width>
      <height>720</height>
      <texture>#header.hover</texture>
    </control>
    <control>
      <type>image</type>
      <id>0</id>
      <posX>178</posX>
      <posY>0</posY>
      <width>256</width>
      <height>720</height>
      <texture>homebladesub.png</texture>
      <animation effect="slide" time="200" start="-434,0">windowopen</animation>
    </control>
    <control>
      <type>image</type>
      <id>0</id>
      <posX>-620</posX>
      <posY>0</posY>
      <width>846</width>
      <height>720</height>
      <texture>homebladeleft.png</texture>
      <animation effect="slide" time="100" start="-846,0">windowopen</animation>
    </control>
    <control>
      <description>right overlay</description>
      <type>image</type>
      <id>0</id>
      <posX>1045</posX>
      <posY>0</posY>
      <width>235</width>
      <height>720</height>
      <texture>homerightoverlay.png</texture>
      <visible>!window.istopmost(14)+!window.istopmost(31)+!window.istopmost(12)</visible>
    </control>
    <control>
      <type>image</type>
      <id>0</id>
      <posX>260</posX>
      <posY>169</posY>
      <width>161</width>
      <height>31</height>
      <texture>settingslogo.png</texture>
      <animation effect="fade" time="200" delay="200">windowopen</animation>
    </control>
    <control>
      <description>Update Indicator</description>
      <type>image</type>
      <id>0</id>
      <posX>378</posX>
      <posY>206</posY>
      <width>32</width>
      <height>32</height>
      <texture>isupdate.png</texture>
      <visible>string.equals(#StreamedMP.ShowSettingsUpdateInd,true)</visible>
      <animation effect="fade" time="200" delay="200">windowopen</animation>
    </control>
    <control>
      <type>group</type>
      <description>group element</description>
      <animation effect="fade" time="200" delay="200">windowopen</animation>
      <posX>216</posX>
      <posY>201</posY>
      <width>211</width>
      <height>379</height>
      <layout>StackLayout(0, Vertical, true)</layout>
      <control Style="settingsbutton">
        <description>StreamedMP Settings</description>
        <type>button</type>
        <id>12</id>
        <onup>14</onup>
        <label>#StreamedMP.SkinMenu</label>
        <hyperlink>196200</hyperlink>
      </control>      
      <control Style="settingsbutton">
        <description>General</description>
        <type>button</type>
        <id>4</id>
        <label>128</label>
        <hyperlink>705</hyperlink>
      </control>
      <control Style="settingsbutton">
        <description>Screen</description>
        <type>button</type>
        <id>5</id>
        <label>6023</label>
        <hyperlink>9</hyperlink>
      </control>
      <control Style="settingsbutton">
        <description>TV</description>
        <type>button</type>
        <id>10</id>
        <label>605</label>
        <hyperlink>700</hyperlink>
      </control>
      <control Style="settingsbutton">
        <description>My Pictures</description>
        <type>button</type>
        <id>7</id>
        <label>1</label>
        <hyperlink>12</hyperlink>
      </control>
      <control Style="settingsbutton">
        <description>Movies</description>
        <type>button</type>
        <id>8</id>
        <label>3</label>
        <hyperlink>703</hyperlink>
      </control>
      <control Style="settingsbutton">
        <description>My DVD</description>
        <type>button</type>
        <id>9</id>
        <label>1027</label>
        <hyperlink>704</hyperlink>
      </control>
      <control Style="settingsbutton">
        <description>My Music</description>
        <type>button</type>
        <id>6</id>
        <label>2</label>
        <hyperlink>14</hyperlink>
        <ondown>11</ondown>
      </control>
      <control Style="settingsbutton">
        <description>MiniDisplay</description>
        <type>button</type>
        <id>11</id>
        <label>9100</label>
        <hyperlink>9000</hyperlink>
        <onup>6</onup>
        <ondown>13</ondown>
      </control>      
      <control Style="settingsbutton">
        <description>Intelligent Frame Correction</description>
        <type>button</type>
        <id>13</id>
        <label> I.F.C. </label>
        <hyperlink>240782</hyperlink>
        <onup>11</onup>
        <ondown>14</ondown>
        <visible>plugin.isenabled(Intelligent Frame Correction)</visible>
      </control>
			<control Style="settingsbutton">
        <description>Trakt Settings</description>
        <type>button</type>
        <id>14</id>
        <label>Trakt</label>
        <hyperlink>87271</hyperlink>
        <onup>13</onup>
        <ondown>12</ondown>
        <visible>plugin.isenabled(Trakt)</visible>
      </control>
    </control>
    <import>common.time.xml</import>
  </controls>
</window>
<!--Checksum:0f41f3c690d688f1db7215eca529d060-->