<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamedMPEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StreamedMPEditor.Properties.Settings>
            <setting name="rememberLastUsedTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastUsedTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="keepVersions" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="autoPurge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideSplashConfirm" serializeAs="String">
                <value>False</value>
            </setting>
        </StreamedMPEditor.Properties.Settings>
    </userSettings>
</configuration>